{% extends 'base.html' %}

{% load book_extras %}
{{ book.image|scale:"128x128" }}

{% block content %}
    <h1>Book List</h1>

    {% if user.is_authenticated %}
        <a href="book/add">Add</a>
    {% endif %}

    {% if book_list %}
        <ul>
            {% for book in book_list %}
                <li>
                    {% if book.image %}
                        <img src="{{ book.image.url }}">
                    {% endif %}
                    {{ book.title }}
                    {% if user.is_authenticated %}
                        <a href="{% url "update_book" book.pk %}">Update</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no books in the library.</p>
    {% endif %}

{% endblock %}